---
---
<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="./64.png">

        <meta property="og:title" content="PhraseEngine - Language Files on Steroids" />
        <meta property="og:type" content="website" />
        <meta property="og:description" content="Language files on steroid for UIs that aren't repetitive.">
        <meta property="og:url" content="http://hedronium.github.io/PhraseEngine/" />
        <meta property="og:image" content="http://hedronium.github.io/PhraseEngine/images/og_little.jpg" />
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="630">

        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-51542843-3', 'auto');
            ga('send', 'pageview');
        </script>
    </head>
    <body>
        {{ content }}
    </body>
</html>
