--- 
--- 
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

$grid-generate-responsive-order: true;
@import './sass-lattice/Lattice.scss';

$main-color: #259991;
$main-dark-color: #03150f;

*, *:before, *:after {
    box-sizing: border-box;
}

body, html {
    padding: 0;
    margin: 0;
    outline: 0;
    overflow-x: hidden;
    min-height: 200vh;

    font-family: Roboto;

    background: desaturate(darken($main-color, 15%), 10%);
}

.welcome {
    min-height: 85vh;
    background: white;
    position: relative;
    display: flex;
    align-items: center;

    &::after {
        position: absolute;
        bottom: -5.2em;

        content: "";
        display: block;
        border: 5em solid transparent;
        border-top-color: white;
        border-left-width: 7em;
        border-right-width: 7em;
        border-bottom: 0;

        left: 0;
        right: 0;
        margin: auto;
        width: 0;
        height: 0;
    }

    &::before {
        position: absolute;
        bottom: 0;
        left: 0;
        content: "";
        display: block;
        transform: rotate(-3deg);
        transform-origin: 100% 100%;
        background: white;
        height: 20em;
        width: 120%;
    }

    .welcome-content {
        z-index: 2000;

        width: 90%;
        max-width: 1000px;
        margin: 4em auto;

        display: flex;
        flex-direction: column;
    }

    .welcome-row {
        display: flex;
        flex-direction: column;
        
        @include at('medium') {
            flex-direction: row;
        }

        align-items: center;
        justify-content: center;
    }

    .welcome-divider {
        width: 2px;

        display: none;

        @include at('medium') {
            display: block;
        }
    }

    .welcome-logo, .welcome-tagline {
        width: 100%;

        @include at('medium') {
            width: calc(50% - 1px);
        }

        padding: 2em;
    }

    .welcome-logo {
        text-align: center;

        @include at('medium') {
            text-align: right;
        }

        img {
            width: 100%;

            @include at('medium') {
                width: 90%;
            }

            max-width: 26em;
        }
    }

    .welcome-divider {
        position: relative;
        height: 10em;

        &::after {
            top: 30%;
            position: absolute;
            left: 0;
            width: 50%;
            content: " ";
            height: 40%;
            background: lighten($main-color, 30%);
        }
    }

    .welcome-tagline {
        text-align: center;
        
        @include at('medium') {
            text-align: left;
        }

        font-size: 1.5em;
        font-weight: 300;

        color: darken(desaturate($main-color, 15%), 10%);

        display: flex;
        align-items: center;

        &::first-letter {
            margin-left: 2em;
        }
    }

    .btn {
        padding: 1em 1.5em;
        margin: 1em;
        background: $main-color;
        text-decoration: none;
        display: flex;
        align-items: center;
        flex-direction: row;
        height: 5em;
        color: white;
        transition: all 200ms;

        width: 18em;

        @include at('medium') {
            width: auto;
        }

        &:hover {
            background-color: darken($main-color, 10%);
        }

        &.btn-ghost {
            display: none;
            background: transparent;
            border: 0.5em solid $main-color;
            color: darken(desaturate($main-color, 15%), 20%);

            @include at('medium') {
                display: flex;
            }

            &:hover {
                background: transparent;
                border-color: darken($main-color, 10%);
            }    
        }

        .btn-main-text {
            font-size: 1.5em;
        }

        .btn-sub-text {
            font-size: 0.8em;
            margin-left: 2em;
            text-transform: uppercase;
        }
    }

    .welcome-docs-pointer {
        color: $main-color;
        position: absolute;
        bottom: -5vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1.5em;
        
        span {
            margin: 0.8em 0 0.3em 0;
        }
    }
}


.docs {
    text-shadow: -0.1em 0.1em 0 rgba(0, 0, 0, 0.3);
    @include container(90%);
    max-width: 1100px;
    
    margin: 10em auto;

    .docs-index {
        display: none;

        @include at('medium') {
            display: block;
            @include span(30%);
            @include push(70%);
        }

        & > ul {
            margin-left: 1em;
        }

        li.has-sub {
            position: relative;

            &:before {
                position: absolute;
                content: " ";
                background: rgba(0,0,0,0.1);
                border-radius: 0.4em;
                left: 0.5em;
                top: 1.5em;
                width: 0.2em;
                height: calc(100% - 2em);
            }
        }

        li {
            position: relative;
        }

        li:after {
            position: absolute;
            content: " ";

            background: rgba(0,0,0,0.1);
            border-radius: 0.4em;

            left: -1em;
            top: 0.70em;

            width: 1em;
            height: 0.2em;
        }

        ul {
            list-style-type: none;
            padding-left: 1.5em;

            li {
                margin: 0.2em 0;

                &.has-sub {
                    margin: 2em 0;
                }
            }

            ul {
                margin-left: 0em;
            }
        }

        a {
            transition: all 200ms;
            color: #6BFFE6;
            font-size: 1.2em;
            text-decoration: none;

            &:hover {
                color: white;
            }
        }
    }

    .docs-content {
        @include span(100%);

        @include at('medium') {
            @include span(70%);
            @include pull(30%);
        }

        font-size: 0.9em;
        color: #C5FFF5;

        @include at('medium') {
            font-size: 1.2em;
        }

        h1 {
            display: none;
        }

        h1, h2, h3, h4, h5, h6 {
            position: relative;
            text-shadow: -0.1em 0.1em 0 rgba(0, 0, 0, 0.3);
            color: #FFFFFF;

            @include at('medium') {
                &::before {
                    content: "#";
                    color: #5BBDFF;
                    position: absolute;
                    left: -0.8em;
                    opacity: 0.3;
                    font-size: 1.5em;
                    line-height: 0.75em;
                    vertical-align: middle;
                }
            }
        }

        h2 {
            margin-top: 3em;
            font-size: 2.2em;
        }

        h3 {
            margin-top: 2em;
            font-size: 1.8em;
        }

        h4 {
            margin-top: 1em;
            font-size: 1.4em;
        }

        h5 {
            margin-top: 1em;
            font-size: 1.2em;
        }

        a {
            text-decoration: none;
            color: #FFFD9E;

            &:hover {
                color: #76BDFF;
            }
        }

        p {
            padding: 0 1em;
        }

        pre {
            background: #282A36;
            padding: 1em 1.5em;
            border-bottom: rgba(0,0,0,0.7) solid 0.3em;
            border-radius: 0.5em;

            code {
                font-size: 1.2em;
            }
        }

        p > code, h4 > code {
            background: rgba(255, 222, 123, 0.34);
            padding: 0.2em 0.4em;
            color: white;
            border-radius: 0.3em;
        }

        blockquote {
            background: rgba(101, 173, 255, 0.2);
            margin: 3em 0;
            padding: 0.1em 1em;
            border-left: 0.3em solid #41A9FF;
            color: white;
        }

        .warn + blockquote {
            background: rgba(255, 40, 40, 0.62);
            border-left: 0.3em solid #FF4141;
        }

        table {
            width: 100%;
            margin: 3em 0;

            td {
                border: 1px solid rgba(255, 255, 255, 0.5);
                padding: 0.5em;
            }
        }
    }
}