--- 
--- 
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

$grid-generate-responsive-order: true;
@import '../node_modules/sass-lattice/Lattice.scss';

$main-color: #259991;
$main-dark-color: #03150f;

*, *:before, *:after {
    box-sizing: border-box;
}

body, html {
    padding: 0;
    margin: 0;
    outline: 0;
    overflow-x: hidden;
    min-height: 200vh;

    font-family: Roboto;

    background: $main-color;
}

.welcome {
    min-height: 85vh;
    background: white;
    position: relative;
    display: flex;
    align-items: center;

    &::after {
        position: absolute;
        bottom: -5.5em;

        content: "";
        display: block;
        border: 5em solid transparent;
        border-top-color: white;
        border-left-width: 7em;
        border-right-width: 7em;
        border-bottom: 0;

        left: 0;
        right: 0;
        margin: auto;
        width: 0;
        height: 0;
    }

    &::before {
        position: absolute;
        bottom: 0;
        left: 0;
        content: "";
        display: block;
        transform: rotate(-3deg);
        transform-origin: 100% 100%;
        background: white;
        height: 20em;
        width: 120%;
    }

    .welcome-content {
        z-index: 2000;

        width: 90%;
        max-width: 1000px;
        margin: 4em auto;

        display: flex;
        flex-direction: column;
    }

    .welcome-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .welcome-divider {
        width: 2px;
    }

    .welcome-logo, .welcome-tagline {
        width: calc(50% - 1px);
        padding: 2em;
    }

    .welcome-logo {
        text-align: right;

        img {
            max-width: 90%;
        }
    }

    .welcome-divider {
        position: relative;
        height: 10em;

        &::after {
            top: 30%;
            position: absolute;
            left: 0;
            width: 50%;
            content: " ";
            height: 40%;
            background: lighten($main-color, 30%);
        }
    }

    .welcome-tagline {
        text-align: left;
        font-size: 1.5em;
        font-weight: 300;

        color: darken(desaturate($main-color, 15%), 10%);

        display: flex;
        align-items: center;

        &::first-letter {
            margin-left: 2em;
        }
    }

    .btn {
        padding: 1em 1.5em;
        margin: 1em;
        background: $main-color;
        text-decoration: none;
        display: flex;
        align-items: center;
        flex-direction: row;
        height: 5em;
        color: white;

        &:hover {
            background-color: #3799FF;
        }

        &.btn-ghost {
            background: transparent;
            border: 0.5em solid $main-color;
            color: darken(desaturate($main-color, 15%), 20%);

            &:hover {
                background: transparent;
                border-color: #3799FF;
            }    
        }

        .btn-main-text {
            font-size: 1.5em;
        }

        .btn-sub-text {
            font-size: 0.8em;
            margin-left: 2em;
            text-transform: uppercase;
        }
    }

    .welcome-docs-pointer {
        color: $main-color;
        position: absolute;
        bottom: -5vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1.5em;
        
        span {
            margin: 0.8em 0 0.3em 0;
        }
    }
}